/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*
.vs/QueblesJam2026/FileContentIndex/669a0076-43a2-46ae-88c3-2962045c8941.vsidx
.vs/QueblesJam2026/FileContentIndex/f63d01b7-8334-4ce2-811a-a8f0487723eb.vsidx
